html , body {
	background: rgb(60, 60, 60);
	margin: 0; 
	padding: 0;
}

#canvas {
	border: solid 1px grey;
	margin: auto;
	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	position: absolute;
	z-index: 100;
}